h1 {
    color: white;
    background-color: purple;
    font-size: 42px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    color: slateblue;
    background-color: lightsteelblue;
    font-weight: bold;
    font-size: 25px;
}

h4 {
    color: rgb(35, 110, 107);
    background-color: lightgray;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

p {
    background-color: rgb(200, 166, 223)
}

.ingredients,
.steps {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(59, 142, 214);
}

.ingredients {
    background-color: lightpink;
}

.steps {
    background-color: lightgoldenrodyellow;
}

#homepage {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgrey;
    color: darkslategray;
}


.cooking-image {
    height: auto;
    width: 500px;
}

.link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: bold;
}

.chicken-souv,
.basic-crepes,
.carrot-cake {
    background-color: black;
}

.link.chicken-souv {
    color: rgb(84, 150, 84);
}

.link.basic-crepes {
    color: red;
}

.link.carrot-cake {
    color: orange;
}