h1 {
    color: white;
    background-color: purple;
    font-size: 42px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    color: rgb(5, 18, 61);
    font-weight: bold;
    font-size: 30px;
}

.cooking-image {
    height: auto;
    width: 500px;
}

.link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: bold;
}

#homepage {
    font-size: 20px;
    font-weight: bold;
    background-color: grey;
}

.chicken-souv,
.basic-crepes,
.carrot-cake {
    background-color: black;
}

.link.chicken-souv {
    color: rgb(84, 150, 84);
}

.link.basic-crepes {
    color: red;
}

.link.carrot-cake {
    color: orange;
}